/*  
Basic Style Sheet for Draft Porfolio Site
Site URL: https://millyjawndraft.netlify.app/
Code Source: Github
Site Source: Netlify
Owner: Kamilah Hudson aka the OG MiLLYJaWN 
*/


/* ----- defines the background of the website   ----   */
#mainbody {
  background-color: #8b8e8c;
}



/* ---- defines the Logo at the top of the website ---- */
#logohead { 
  float:left;
  height:80px;
  background-color: #333;
}

/*  --------- Full Browser Navigation Bar.  ---------   */

/*this defines the main look ov the navibar*/
#navibar {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height:80px;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky; /* Safari */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  height:80px;
  padding: 30px 16px;
  text-decoration: none;
}

li a:hover {
  height:80px;
  background-color: #111;
}

/* --- defines the Logo at the bottom of the website --- */
#logofoot { 
  float: right;
  margin: 0px 10px 0px 0px;
  height:100px;
  background-color: #333;
}

/*  ----------- Footer and Copyright Bar.  -----------   */

/*this defines the main look of the footer*/
#footerjawn {
  margin: 0px 0px 0px 0px;
  padding: 10px;
  overflow: hidden;
  height:80px;
  width:110%;
  color:white;
  background-color: #333;
  
  #copyright{
  text-align: center;
  margin: 0px 0px 0px 20px;
